<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- AdMob Permission -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".YadApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.YadVideoEditor"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="34">

        <activity
            android:name=".SaweriaActivity"
            android:exported="false" />


        <activity
            android:name=".PanduanActivity"
            android:exported="false" />
        <activity
            android:name=".PenggunaanActivity"
            android:exported="false" />

        <!-- AdMob App ID (TEST) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}"/>

        <!-- Splash -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.YadVideoEditor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".AdminActivity" android:exported="false" />
        <activity android:name=".FilesActivity" android:exported="false" />
        <activity android:name=".VideoEditorActivity" android:exported="false" />
        <activity android:name=".TextToVideoActivity" android:exported="false" />
        <activity android:name=".VideoListActivity" android:exported="false" />
        <activity android:name=".InstructionsActivity" android:exported="false" />
        <activity android:name=".CreditActivity" android:exported="false" />
        <activity android:name=".StatisticsActivity" android:exported="false" />
        <activity android:name=".VideoPreviewActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />

        <activity android:name=".AdminPanelActivity" android:exported="false" />
        <activity android:name=".AdminUserListActivity" android:exported="false" />
        <activity android:name=".AdminStatsActivity" android:exported="false" />
        <activity android:name=".AdminBroadcastActivity" android:exported="false" />
        <activity android:name=".AdminSettingsActivity" android:exported="false" />
        <activity android:name=".AdminPushNotifActivity" android:exported="false" />
        <activity android:name=".AdminModelsActivity" android:exported="false" />
        <activity android:name=".AdminLogsActivity" android:exported="false" />
        <activity android:name=".AdminBackupActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".VideoGeneratorService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
