<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".YadApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YadVideoEditor"
        tools:replace="android:allowBackup,android:label,android:name">

        <activity
            android:name=".SaweriaActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2515513620924097~6524543685"
            tools:replace="android:value" />

        <!-- HAPUS SplashActivity dari client build -->
        <activity
            android:name=".SplashActivity"
            tools:node="remove" />

        <!-- MainActivity = LAUNCHER tunggal -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.YadVideoEditor" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.YadVideoEditor"
            tools:replace="android:exported,android:theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActionsActivity"
            android:exported="false"
            android:theme="@style/Theme.YadVideoEditor" />

        <service
            android:name=".FloatingProgressService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    
        <activity
            android:name=".RewardActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
    </application>
</manifest>
